
  * {
    box-sizing: border-box;
  }

  .html{
    height: 100%;
  }
  .body{
    height: 100%;
    background-color: #f1f1f1;
  }
  .row{
    background-color: #f1f1f1;
   height: 100%; 
  }
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align:center;
    height: 10%;
  }
  .column {
    height: 90%;
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
    
  }

.column.side {
  width: 15%;
  height: 100%;
  text-align:justify;
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.listpos{
  position:fixed;

}
.column.middle {
  width: 85%;
  display: inline;
  border-top: 2px solid black;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(255, 255, 255, 0.4); 
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4CAF50;
}

.modal-body {
  padding: 2px 16px;
  background-color: rgba(255, 255, 255, 0.671);
}

.modal-footer {
  padding: 2px 16px;
  background-color: #4CAF50;
}

.note{
  background-color: #f1f1f1;
}
.notetx{
  background-color: white;
  padding: 1px;
  border-radius: 10px;
}
.noteHi {   /* заголовок заметки */
  color: rgb(15, 6, 6);
}

 .noteLi{   /* текст заметки */
  text-align: justify;
  text-indent: 5px;
  white-space: pre-wrap;
  list-style-type:none;
}

.edith{
  white-space: pre-wrap;
}

.list{
  list-style-type:decimal;
}


.addbtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.delet{
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.save{
  background-color:#2a2929;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.redact{
  margin-bottom: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}
