  /* .textarea {
  columns: 100; 
  } */

  * {
    box-sizing: border-box;
  }
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align:center;
  }
  .column {
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
    
  }
  /* Left and right column */
.column.side {
  width: 15%;
  text-align:justify;
  border-right: 2px solid black;
  border-top: 2px solid black;

}
.column.middle {
  width: 85%;
  height: 1000px;
  border-top: 2px solid black;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Модальное окно */
/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 100px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
  background-color: rgba(255, 255, 255, 0.4); /*Черный с непрозрачностью */
}


/* Модальное содержание */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Добавить анимацию */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Кнопка закрытия */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close2 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgba(189, 19, 241, 0.849);;
  /* color: rgb(189, 19, 241); */
}

.modal-body {
  padding: 2px 16px;
  background-color: rgba(255, 255, 255, 0.671);
}

.modal-footer {
  padding: 2px 16px;
  background-color: rgba(189, 19, 241, 0.849);
  /* color: white; */
}

.noteHi {   /* заголовок заметки */
  color: rgb(15, 6, 6);
  /* background: rgb(255, 255, 255); */
}

 .noteLi{   /* текст заметки */
  text-align: justify;
  text-indent: 5px;
  white-space: pre-wrap;
  list-style-type:none;
  background-color: rgb(255, 255, 255);
  width: 68%;
  border-radius: 20px;
  
}

.edith{
  
  white-space: pre-wrap;
  
}

.list{
  list-style-type:decimal;
}

.addbtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.redact{
  margin-bottom: 20px;
}




/* .editli{ 
   columns: 1000px;
  column-width: auto;
  width: 100px;
} */




/* 
.delet{

} */

/* .edit{

} */